<h1 class="hero-text" class="align-right">Find lots of Interesting books here in Blibrary</h1>
<p class="hero-sub-text">Ready to start reading?</p>

<div class="row hero-button">
    <div class="form-group">
        <a href="/books" class="btn btn-primary btn-secondary-outline btn-lg">Get Started</a>
    </div>
    
</div>
<img src="/public/images/library4.jpg" id="hero" alt="landing page for library">