{{> header }}
<div class="container mt-3">
    {{#unless data}}
        <p>Library is empty</p>
    {{/unless}}
    {{#if data}}
    <h1 class="mt-5">All books</h1>
    <div class="row">
        {{#each data}}
        <div class="col-3">
            <a href="{{item}}">
                <img src="../public/images/{{bookcover}}" class="image-css" alt="cover image">
            </a> 
        </div>
        {{/each }}
    </div>
    {{/if }}
    
</div>
{{> footer }}