
{{> header }}
<div class="container">
    <h1 class="mt-5">Contact Us</h1>
    <div class="row">
        <div class="col-6 col-offset-3">
            <p>Phone: 09067967647</p>
            <p>Email: tennyson.onovwina@gmail.com</p>
            <form action="/contact/create" method="post">
            <div class="input-group-mb-3">
                <input type="text" class="form-control" name="name" value="" placeholder="" required>
            </div>
            <br>
            <div class="input-group-mb-3">
                <input type="text" class="form-control" name="message" value="" placeholder="Message" required>
            </div>
            <br>
            <div class="input-group-mb-3">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
            </form>
        </div>
    </div>
</div>
    
    
{{> footer }}

