
{{> header }}
    <h1>Contact Us</h1>
    <h2>Phone: 09067967647</h2>
    <p>Email: tennyson.onovwina@gmail.com</p>
    <form action="/contact/create" method="post">
        <input type="text" name="name" value="" placeholder="" required>
        <br>
        <br>
        <input type="text" name="message" value="" placeholder="Message" required>
        <br>
        <br>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{{> footer }}

