{{> header }}
{{> landing }}
{{!-- 
<div class="row mt-5">
    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-secondary-outline btn-md">Get Started</button>
    </div>
</div> --}}
{{> footer }}

