{{> header}}

<div class="container">
    <h3 class="p-2">Upload book</h3>
    
    {{#if success}}
    <div class="alert alert-success">{{success}}</div>
    {{/if}}
    <div class="row">
        <form action="/book/create" method="post" enctype="multipart/form-data">
            <div class="input-group mb-3">
                <input type="text" class="form-control" name="title" value="" placeholder="Enter title of book" required>
            </div>
            
            <div class="input-group mb-3">
                <textarea name="description" id="" cols="30" rows="10" class="form-control" placeholder="description"></textarea>
                {{!-- <input type="textarea" class="form-control" name="description" value="" placeholder="Enter description" required> --}}
            </div>
            
            <div class="input-group mb-3">
                <input type="text" class="form-control" name="publishDate" value="" placeholder="Published Date" required>
            </div>
            
            <div class="input-group mb-3">
                <input type="text" class="form-control" name="pages" value="" placeholder="Number of pages" required>
            </div>

            
            <label for="item">PDF</label>
            <div class="input-group mb-3">
                <input type="file" class="form-control" name="item" value="" placeholder="Select a photo" required>
            </div>
            
            <div class="input-group mb-3">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>

        {{#if id}}
        <form action="/book/cover/upload/{{id}}" method="post">
            <label for="coverImage">Cover Image</label>
            <div class="input-group mb-3">
                <input type="file" class="form-control" name="bookcover" value="" placeholder="Select a photo" required>
            </div>
            <br>
            <div class="input-group mb-3">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
        {{/if }}
    </div>       
</div>
{{>footer}}